@model Session

<h1>Session Details</h1>

<p>Start Time: @Model.StartTime</p>
<p>End Time: @Model.EndTime</p>
<p>Location: @Model.Location</p>

<h2>Birds and Counts</h2>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Photo</th>
            <th>Name</th>
            <th>Description</th>
            <th>Count</th>
        </tr>
    </thead>
   
</table>
