@model Bird

@{
    ViewData["Title"] = $"Delete {Model.Name}";
}

<h1>@ViewData["Title"]</h1>

<p>Are you sure you want to delete @Model.Name </p>

<<form method="post">
    <button type="submit" class="btn btn-primary">Yes</button>
    <a asp-action="Index" class="btn btn-secondary">No</a>
</form>
